
.scroll {
  font-size: 10px;
  height: 500px;
  overflow: auto;
  width: 210px;
}

.profilePicture{ 
}

.messsageText {  
  border-bottom: 1px;
  border-bottom-style: dashed;
  overflow: hidden;
  width: 190px;
}

.loading-image{
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px; 
}

.pre-loading-image{
  background-image: url(images/loading.gif);
  background-repeat: no-repeat;
  height: 50px;   
  left: 65px;
  position: relative;
  top: 200px;
  width: 50px;
}

.smiley-image{
  background-image: url(images/smiley.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;  
}

.attachement-image{
  background-image: url(images/attachement.png);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;  
}

.feeds-attachments{
  background-image: url(images/attachment.png);
  background-repeat: no-repeat;
  float: left;
  height: 13px;
  width: 13px;  
}

.reply-tag{
  color: #57A34D;
  font-weight: bold;
}

.name-tag{
  color: #002BB8;
  font-weight: bold;
}

.more-link{
  float: right;
}

.referesh-link{
  float: right;
}

.time-message{
}

.detail-message{  
}

.error-message{
}